/*Navigationsformatierung */

$nav-bg: #333333;
$nav-hover: #6c91c2;
$nav-text: white;

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $nav-bg;

    li {
      float: left;

      a {
        display: block;
        color: $nav-text;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover {
          background-color: $nav-hover;
        }
      }
    }
  }
}