/*Newsseite Formatierung*/

$btn-red: #f44336;

.ueli {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  background-image: url("../Bilder/Screenshot 2026-01-12 145456.png");
  background-repeat: no-repeat;
}

/*-----------------------------------------------------------------------------------------*/
/*Buttons auf der Hauptseite für Newsseite*/

h3 {
  > a {
    &:link,
    &:visited {
      background-color: $btn-red;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    &:hover,
    &:active {
      background-color: red;
    }
  }
}

/*------------------------------------------------------------------------------------------*/
/*Newsseite Flex formatierung*/

.newsflex {
  background-color: rgba(128, 128, 128, 0.726);
  overflow: auto; /* clearfix */
}

.newsflexitem {
  float: left;
  width: 400px;
  height: 200px;
  margin: 10px;
}