.font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
    background-color: #373f47;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #6C91C2;
}


header {
    background-color: rgba(128, 128, 128, 0.726);
    line-height: 3em;
}

.hauptteil {
    background-color: rgba(128, 128, 128, 0.726);
    /*line-height: 2em;*/
}


img {
    width: 30%;
}

.lebenslauf {
 border: solid;
 border-color: rgb(0, 0, 0);
}

.zeile {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 4px 0;
}
.zeile p {
  margin: 0;
  width: 33%;
 }

 .feedback {
  width: 50px;
  display: inline-block;
 }
/*
a:link, a:visited {
    color: black;
}

a:hover {
    color: blue;
}
*/
